<div id="about" style="margin: 0 12px; text-align:center;">
  <h1 style="font-weight:700; "> About Us </h1>
  <p>I founded Aly Athletics with a simple idea in mind: bring durable, comfortable and fashionable athletic wear to women of every size

With that vision in mind, I personally curate a collection of quality athletic wear for women every season. From our breathable t-shirts to super soft tights, I want to bring you clothing you can't wait to put on

The joy of movement in for bodies in magazines. I believe that every woman should feel confident in herclothes. I want you to shop at Aly Athletics knowing that you'll find apparel that fits and looks great.


    <br>
    
   Wear what moves you
    <br>
 	<br>
-Aly from Aly Athletics</p>
  
</div>